		* {
			box-sizing: border-box;
			padding:0;
			margin:0;
		}
		.container{
			width: 600px;
			height: 600px;
			border: 2px solid black;
			margin: auto;
			margin-top: 5%;
			padding: 1%;
			text-align: center;
			background-color: black;
			color: grey;
		}

		h2{
			margin-top:10%;
		}

		button {
			font-size: 1.3em;
			color: white;
			background-color: #0d7e0d;
			border: 2px solid black;
			border-radius: 5px;
			display: block;
			margin: auto;
			margin-top: 30px;
			padding: 10px;
		}

		button:hover {
			border-color: white;
			color: orange;
		}

		form {
			margin: 20px 0 0 20px;
		}
		.hide {
			display: none;
		}

		section{
			float:left;
			text-align: center;
			width: 27%;
			padding: 40px 2px 40px 2px;
			margin-top: 60px;
			background-color: white;
		}

		img {
			display: block;
			margin: auto;
			margin-top: 20px;
		}

		p{
			font-size: 1em
		}

		table {
			width: 70%;
			margin: auto;
			margin-top: 40px;
			margin-bottom: 20px;
			border-spacing: 0;
			border-collapse: collapse;
			color: white;
			float: right;
		}
		tr {
			width: 100%;
			margin:0;
		}
		td {
			border: 1px solid white;
			text-align: center;
		}
		td:hover{
			background-color: lightblue;
		}

		div#play {
			height: 100%;
		}

		button#start{
			clear: both;
			padding: 10px;
		}
